<div class="main-wrapper">
    <div class="row">
        <!-- LEFT SIDE -->
        <div class="col-md-7 left-section flex-column justify-content-center">

            <div class="logo-area">
                <img src="https://bfsd.npq.bfsgodirect.com/apply-for-personal-loan-finservmarkets/assets/images/svg/left-side-img-sol.svg"
                    class="illustration">
                <div class="logo-text">
                    <div class="logo-main">Bajaj Markets</div>
                    <div class="logo-sub">India ka Financial Supermarket</div>
                </div>
            </div>

            <div class="loan-text">
                <h2>A loan for all your needs!</h2>
                <p>Choose the best Personal Loan and realize your dream</p>

            </div>
            <p class="loan-step">Your application stages : </p>
            <div class="steps">
                <div class="step">
                    <div class="circle">1</div>
                    <span>Your Details</span>
                </div>
                <div class="step">
                    <div class="circle">2</div>
                    <span>Loan Offers</span>
                </div>
                <div class="step">
                    <div class="circle">3</div>
                    <span>Verification > Banking > E-sign</span>
                </div>
                <div class="step">
                    <div class="circle">4</div>
                    <span>Money In Bank</span>
                </div>
            </div>
        </div>
    </div>
</div>